/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		 url('../fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

/*--------------Caracteristiques générales------------*/

body {
	background-color: rgba(224, 222, 222, 0.548);
}

.main {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: auto auto auto;
	grid-template-areas: "a1 container a2""a3 reseau a4""a5 movies a6";
	text-align: justify;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	min-width: 500px;
}

h1 {
	text-align: center;
	color: rgb(231, 45, 45);
}

h2 {
	text-align: center;
	margin: 0;
}

h3 {
	text-align: center;
}

p {
	line-height: 160%;
}

/*------------------Premier block: Main----------------------*/

.container {
	margin: 2%;
	padding: 4%;
	border-radius: 2%;
	text-align: justify;
	color: #8f8e8e;
	background-color: white;
	box-shadow: 2px 2px 6px gray;
	grid-area: container;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
}

.conteneurPhoto {
	display: flex;
	justify-content: center;
}

.photo {
	width: 140px;
	height: 140px;
	border: 3px solid lightgray;
	border-radius: 50%;
}

.buttonWiki {
	padding: 15px;
	margin: 5px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	display: flex;
	text-decoration: none;
	justify-content: center;
	background-color: rgb(231, 45, 45);
	border-radius: 8px;
	width: 34%;
}

.buttonWiki:hover {
	color: black;
}

/*------------------Deuxième block : Reseau ----------------------*/

.reseau {
	margin: 2%;
	padding: 8%;
	border-radius: 8px;
	text-align: center;
	color: #8f8e8e;
	background: white;
	box-shadow: 2px 2px 6px gray;
	grid-area: reseau;
	display: flex;
	align-content: center;
	justify-content: space-around;
	font-size: 1em;
}

.nom {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
	margin-top: 17%;
	display: flex;
	justify-content: center;
	align-items: center; 
} 

.link {
	margin: 5px;
	padding: 1em;
}

.link:hover {
	transform: scale(1.1);
}

.fab {
	text-decoration: none;
	color: #8f8e8e;
}

/*------------------Troisième block : Movies ----------------------*/

.movies {
	margin: 2%;
	padding: 4%;
	border-radius: 8px;
	text-align: justify;
	color: #8f8e8e;
	background: white;
	box-shadow: 2px 2px 6px gray;
	grid-area: movies;
}

.contenu {
	width: 360px;
}

.films {
	display: flex;
	justify-content: space-around;
	margin-top: 15%;
}

.img {
	width: 100px;
}


/*-----------------Responsive Design-----------------*/

@media only screen and (max-width: 900px) {
	.films {
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width:900px) {
	.contenu {
		max-width: 100%;
	}
}

@media only screen and (max-width:900px) {
	.reseau {
		flex-direction: column;
		align-items: center;
	}
}